* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: white;
}

/* for calendar */

.fc {
  /* Qorong‘i fon */
  /* color: white; Oq yozuvlar */
}

/* Sana bloklari (kun joylashgan quti) */
.fc-daygrid-day {
  color: white !important;
}

/* Header (oy va hafta nomlari joylashgan joy) */
/* .fc-toolbar {
  background-color: #1e1e1e;
  color: white;
} */

/* Tanlangan sana */
/* .fc-day-today {
  background-color: #ff9800 !important;
  color: black !important;
} */
